
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Cardápio IF Sudeste MG - Campus Rio Pomba</title>

    <!-- FullCalendar CSS CDN -->
    <link href='../Assets/css/core/main.min.css' rel='stylesheet' />
    <link href='../Assets/css/daygrid/main.min.css' rel='stylesheet' />

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

    <!-- CSS Customizado -->
    <link rel="stylesheet" href="../Assets/css/custom.css">
</head>

<body>

    <div class="wrapper">
        <nav id="menu-lateral">
            <div class="menu-lateral-header text-center">
                <img src="../Assets/logo.png" class="rounded" alt="user" width="200" height="50">
            </div>

            <ul class="list-unstyled components">
                <div class="row p-2">
                    <div class="col-auto">
                        <img src="https://icon-library.net/images/avatar-icon-images/avatar-icon-images-4.jpg" class="rounded" alt="user" width="80" height="80">
                    </div>
                    <div class="col-6">
                        <div class="float-right">
                            <h6>Nome</h6>
                            <h6><span class="badge badge-pill badge-dark">Administrador</span></h6>
                            <button type="button" class="btn btn-danger btn-sm btn-block"><i class="fas fa-sign-out-alt"></i> Sair</button>

                        </div>
                    </div>
                </div>
                <li class="active mt-4">
                    <a href="#"><i class="fas fa-home"></i> Inicio</a>
                </li>
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-images"></i> Item</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#"><i class="fas fa-folder-open"></i> Item 2</a>
                 </li>
            </ul>
        </nav>

        <div id="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mt-0">
                <div class="container-fluid">

                    <button type="button" id="menu-lateral-slide" class="navbar-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Item</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Item 2</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <main class="container p-5">
                <div id='calendar'></div>
            </main>
        </div>
    </div>

    <div class="modal fade" id="visualizar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><span id="title"></span> - <span id="start"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">

                                <!-- Fixed header table-->
                                <div class="table-responsive">
                                    <table class="table tabela-fixa">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-3">#</th>
                                                <th scope="col" class="col-3">Prato</th>
                                                <th scope="col" class="col-3">Categoria</th>
                                                <th scope="col" class="col-3">Observação</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="col-3">1</th>
                                                <td class="col-3">Arroz</td>
                                                <td class="col-3">Principal</td>
                                                <td class="col-3">fafdsf</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="col-3">2</th>
                                                <td class="col-3">Alface</td>
                                                <td class="col-3">Salada</td>
                                                <td class="col-3">fdfad</td>
                                            </tr>
                                            <tr>
                                                 <th scope="row" class="col-3">2</th>
                                                <td class="col-3">Suco de Laranja</td>
                                                <td class="col-3">Bebida</td>
                                                <td class="col-3">afdfads</td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div><!-- End -->
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input class="btn btn-info" type="button" value="Editar">
                    <input class="btn btn-danger" type="button" value="Deletar">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="cadastrar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cadastrar Evento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Refeição</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="exampleFormControlSelect1">
                                  <option>Almoço</option>
                                  <option>Jantar</option>
                                </select>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile" aria-selected="false">Guarnição</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Acompanhamento</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Salada</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Bebida</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contato" role="tab" aria-controls="contact" aria-selected="false">Sobremesa</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active p-4" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="input-group control-group adicionado">
                                <input type="text" name="addmore[]" class="form-control" placeholder="Digite um prato...">
                                <div class="input-group-btn"> 
                                    <button class="btn btn-success adicionar" type="button"><i class="fas fa-plus"></i></button>
                                </div>
                            </div>

                            <div class="copiar d-none">
                                <div class="control-group input-group" style="margin-top:10px">
                                    <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">
                                    <div class="input-group-btn">
                                        <button class="btn btn-danger remover" type="button"><i class="fas fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                          
                      </div>
                      <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">...</div>
                      <div class="tab-pane fade" id="contato" role="tabpanel" aria-labelledby="contact-tab">...</div>
                  </div>


                    

                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="button" name="CadEvent" id="CadEvent" value="Cadastrar" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FullCalendar JS -->
    <script src='../Assets/js/core/main.min.js'></script>
    <script src='../Assets/js/interaction/main.min.js'></script>
    <script src='../Assets/js/daygrid/main.min.js'></script>
    <script src='../Assets/js/core/locales/pt-br.js'></script>
    <script src="../Assets/js/custom.js"></script>

    <!-- JQuery Ajax JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            //MENU LATERAL
            $('#menu-lateral-slide').on('click', function () {
                $('#menu-lateral').toggleClass('active');
                $(this).toggleClass('active');
            });

            //INPUT DINAMICO
            $(".adicionar").click(function(){ 
              var html = $(".copiar").html();
              $(".adicionado").after(html);
            });
            $("body").on("click",".remover",function(){ 
              $(this).parents(".control-group").remove();
            });
        });
    </script>
</body>

</html>