body {
	font-family: 'Poppins', sans-serif;
}
.header-title {
	font-weight: 700;
}
.card {
	border:  none;
}
.card-title {
	font-family: 'Pacifico', cursive;
}
.card-title a {
	color: #616161;
}
.prato-principal {
	font-family: 'Pacifico', cursive;
}	